<!DOCTYPE html>
html(lang="en")
    head
        title StepGrab
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#333333")
        //- html5 version of http-equiv="Content-Type"...
        meta(name="description", content="Find best deals and discounts meant for new customers on food, parlors, barbers, saloons, clothing, and eveyrthing else")
        meta(name="keywords", content="discounts, free, food, stuff, near me, deals, pizza, parlor, barber, saloon, geo")
        //-     <link rel="author" href="https://plus.google.com/{{googlePlusId}}" />
        //-     <link rel="canonical" href="{{pageUrl}}" />
        //- facebook
        meta(property="og:url", content="https://stepgrab.com/")
        meta(property="og:image", content="https://stepgrab.com/img/favicon.ico")
        meta(property="og:description", content="Discover new places and save money!")
        meta(property="og:title", content="Stepgrab | Best first timer discounts near you")
        meta(property="og:see_also", content="https://stepgrab.com/faqs")
        //- twitter
        meta(name="twitter:card", content="summary")
        meta(name="twitter:url", content="https://stepgrab.com/")
        meta(name="twitter:title", content="Stepgrab | Best first timer discounts near you")
        meta(name="twitter:description", content="Discover new places and save money!")
        meta(name="twitter:image", content="https://stepgrab.com/img/favicon.ico")
        
        link(rel="shortcut icon", href="/img/favicon.ico?v=3", type="image/x-icon")
        link(rel="icon", href="/img/favicon.ico?v=3", type="image/x-icon", sizes="64x64")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700")
        //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        block style
            link(rel="stylesheet", href="/css/main.css")
        
        block head

    block body
