extends ./layouts/head.pug
block vars
	- navSelected = 'settings'
block content 
	h1.title Change Password
	.columns
		form(action="/dashboard/change_password" method='POST').column.is-one-third
			if errors.length > 0
				.field
					each val in errors
						.notification.is-danger= val
			.field
				input(type="password" class='input' name='password' placeholder='Password - minimum 8 characters and at least 1 number' required)
			.field
				input(type="password" class='input' name='retype_password' placeholder='Retype Password' required)
			.field
				input(type="submit" class='button is-link input' value='Submit')